* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.contenedor {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.barra-top {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: #f3f3f3;
  font-size: 11px;
  padding: 5px 90px;
}

.top-opciones {
  display: flex;
  gap: 10px;
}

.fa-chevron-down {
  font-size: 8px;
  margin-left: 3px;
}

.moneda p {
  text-transform: uppercase;
}

.menu {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #f3f3f3;
  text-decoration: none;
}

.fa-paw {
  margin-right: 3px;
}

.slide {
  background-image: url("../img/bowl-and-pet-daities-on-green-background.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: top;
  height: 500px;
  position: relative;
}

.slide-texto {
  color: #3c2313;
  position: absolute;
  top: 40%;
  right: 25px;
  text-align: center;
}

.slide-titulo {
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  padding: 10px 10px;
}

.slide-parrafo {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.slide-button {
  background-color: #f0a83e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 23px;
  text-transform: uppercase;
  cursor: pointer;
}

.destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.titulo-destacado {
  color: #3c2313;
  font-size: 40px;
  margin: 10px 0 26px;
}

.categoria-link {
  color: #3c2313;
  font-size: 15px;
  text-decoration: none;
}

.productos {
  display: flex;
  gap: 20px;
}

.producto {
  background-color: #fbfaf6;
  text-align: center;
}

.producto-nombre {
  color: #3c2313;
  font-size: 15px;
  font-weight: 600;
}

.producto-precio {
  color: #F0A83E;
  font-size: 15px;
  font-weight: 600;
}

.contactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.titulo-contactanos {
  color: #3c2313;
  font-size: 25px;
  margin: 30px 0 20px;
}

.input-form {
  background-color: #3c2313;
  border: none;
  border-radius: 15px;
  color: #FFF;
  margin-bottom: 10px;
  padding: 15px 10px;
  width: 340px;
}

.opciones {
  margin-top: 30px;
}

.btn-opciones {
  background-color: #F0A83E;
  border: none;
  border-radius: 15px;
  color: #FFF;
  font-size: 16px;
  padding: 8px 23px;
}

.reset {
  background-color: #8A8787;
}

.suscribete {
  background-color: #F0A83E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
}

.msj-suscribete {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.input-suscribete {
  border: none;
  border-radius: 15px;
  font-size: 9px;
  padding: 12px 10px;
  width: 271px;
}

.btn-suscribete {
  border: none;
  border-radius: 15px;
  background-color: #3c2313;
  color: #FFFFFF;
  font-size: 9px;
  font-weight: bold;
  padding: 12px 10px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c2313;
  color: #FFFFFF;
  padding: 20px 80px;
}

.contacto-dato {
  display: flex;
  gap: 25px;
  padding: 10px;
  align-items: center;
}

.text-dato h3 {
  font-size: 20px;
  font-weight: bold;
}

.text-dato p {
  color: #8A8787;
  font-size: 10px;
  font-weight: bold;
}

.icono-footer {
  background-color: #8A8787;
  border: 6px solid #786960;
  border-radius: 50%;
  padding: 10px;
  
}

.copyright {
  background-color: #222222;
  color: #FFFFFF;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
}